{% extends "organization/base.html" %}

       {% block nav %}
          <ul class="nav navbar-nav navbar-right">
            <li><a>Welcome,{{user.first_name}}</a></li>
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
          </ul>
       {% endblock %}

       {% block content%}
        <div class="col-sm-9" style="margin:10px ">
            <div class="panel panel-default">
              <div class="panel-heading">Create Lead</div>
                  <div class="panel-body">
                       <form class="form-horizontal" action="" method="post">
                            {%csrf_token%}

                                <div class="form-group">
                                    <label name={{form.name.name}} class="col-sm-2 control-label">{{form.name.name}}</label>
                                    <div class="col-sm-4">
                                      <input name={{form.name.name}} type="text" class="form-control"  placeholder="name">
                                    </div>
                                    {{form.name.errors}}
                                </div>

                                <div class="form-group">
                                    <label name={{form.address.name}} class="col-sm-2 control-label">{{form.address.name}}</label>
                                    <div class="col-sm-4">
                                      <input name={{form.address.name}} type="text " class="form-control" placeholder="address">
                                    </div>
                                    {{form.address.errors}}
                                </div>

                                <div class="form-group">
                                    <label name={{form.pin.name}} class="col-sm-2 control-label">{{form.pin.name}}</label>
                                    <div class="col-sm-4">
                                      <input name={{form.pin.name}} type="number" class="form-control" placeholder="pin">
                                    </div>
                                    {{form.pin.errors}}
                                </div>

                                <div class="form-group">
                                    <label name={{form.email.name}} class="col-sm-2 control-label">{{form.email.name}}</label>
                                    <div class="col-sm-4">
                                      <input name={{form.email.name}} type="email" class="form-control" placeholder="email">
                                    </div>
                                    {{form.email.errors}}
                                </div>

                                <div class="form-group">
                                    <label name={{form.country.name}} class="col-sm-2 control-label">{{form.country.name}}</label>
                                    <div class="col-sm-4">
                                        {{form.country}}
                                    </div>
                                    {{form.country.errors}}
                                </div>

                            <input class="btn btn-default" type="submit" name="submit" value="Create">
                            <input class="btn btn-default" type="reset">
                        </form>
                  </div>
              </div>
            </div>
        </div>
        {% endblock%}
