{% extends "organization/base.html" %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
<style>
#nav {
    line-height:30px;
    border-right: 2px solid black;
    height:300px;
    width:150px;
    float:left;
}
</style>
</head>
<body>
       {% block nav %}
          <ul class="nav navbar-nav navbar-right">
            <li><a>Welcome,{{user.first_name}}</a></li>
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
          </ul>
       {% endblock %}

       {% block content%}
        <div class="col-sm-9" style="margin:10px ">
            <div class="panel panel-default">
              <div class="panel-heading">Create Campaign</div>
                  <div class="panel-body">
                       <form class="form-horizontal" action="" method="post">
                            {%csrf_token%}
                            {{ form.media }}
                                <div class="form-group">
                                    <label name={{form.campaign_name.name}} class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-4">
                                      <input name={{form.campaign_name.name}} type="text" class="form-control"  placeholder="name">
                                    </div>
                                    {{form.campaign_name.errors}}
                                </div>

                                <div class="form-group">
                                    <label name={{form.start_date.name}} class="col-sm-2 control-label">Start Date</label>
                                    <div class="col-sm-4">
                                      <input name={{form.start_date.name}} type="date" class="form-control"  >
                                    </div>
                                    {{form.start_date.errors}}
                                </div>

                                <div class="form-group">
                                    <label name={{form.end_date.name}} class="col-sm-2 control-label">End Date</label>
                                    <div class="col-sm-4">
                                      <input name={{form.end_date.name}} type="date" class="form-control"  >
                                    </div>
                                    {{form.end_date.errors}}
                                </div>

                                <div class="form-group">
                                    <label name={{form.subject.name}} class="col-sm-2 control-label">subject</label>
                                    <div class="col-sm-4">
                                      <input name={{form.subject.name}} type="text" class="form-control"  placeholder="subject">
                                    </div>
                                    {{form.subject.errors}}
                                </div>

                                <div class="form-group">
                                    <label name={{form.content.name}} class="col-sm-2 control-label">content</label>
                                    <div class="col-sm-2" >
                                        {{form.content}}
                                    </div>
                                    {{form.subject.errors}}
                                </div>

                                <div class="form-group">
                                    <label name={{form.filter.name}} class="col-sm-2 control-label">filter</label>
                                    <div class="col-sm-4">
                                      <input name={{form.filter.name}} type="text" class="form-control"  placeholder="filter">
                                    </div>
                                    {{form.filter.errors}}
                                </div>

                                <div class="form-group">
                                    <label name="" class="col-sm-2 control-label">Schedule Type</label>
                                    <div class="col-sm-4">
                                        <select name="schedule_type" class="form-control" id="schedule_type" placeholder=" " >
                                            <option>Onetime</option>
                                            <option>Repetitive</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" id="div_schedule_date">
                                    <label id="schedule_date_label"name="" class="col-sm-2 control-label">Schedule Date</label>
                                    <div class="col-sm-4">
                                      <input id="schedule_date" name="schedule_date" type="date" class="form-control"  >
                                    </div>
                                </div>

                                <div class="form-group" id="div_schedule_time">
                                    <label id="schedule_time_label" name="schedule_time" class="col-sm-2 control-label">Schedule Time</label>
                                    <div class="col-sm-4">
                                      <input id="schedule_time" name="schedule_time" type="time" class="form-control"  >
                                    </div>
                                </div>
                                <div class="form-group" id="div_minute" >
                                    <label name="" class="col-sm-2 control-label">Minute</label>
                                    <div class="col-sm-4">
                                      <input name="minute" type="text"  class="form-control" value="*" >
                                    </div>
                                </div>
                                <div class="form-group" id="div_hour">
                                    <label name="" class="col-sm-2 control-label">Hour</label>
                                    <div class="col-sm-4">
                                      <input name="hour" type="text" class="form-control" value="*" >
                                    </div>
                                </div>

                                <div class="form-group" id="div_day">
                                    <label name="" class="col-sm-2 control-label">Day Of week</label>
                                    <div class="col-sm-4">
                                        <select name="day_of_week" class="form-control" placeholder=" ">
                                            <option>*</option>
                                            <option>sunday</option>
                                            <option>monday</option>
                                            <option>tuesday</option>
                                            <option>wednesday</option>
                                            <option>thursday</option>
                                            <option>friday</option>
                                            <option>saturday</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" id="div_date_of_month">
                                    <label name="" class="col-sm-2 control-label">Day Of Month</label>
                                    <div class="col-sm-4">
                                      <input name="day_of_month" type="text"  class="form-control" value="*" >
                                    </div>
                                </div>

                                <div class="form-group" id="div_month_of_year">
                                    <label name="" class="col-sm-2 control-label">Month Of Year</label>
                                    <div class="col-sm-4">
                                      <input name="month_of_year" type="text" class="form-control" value="*" >
                                    </div>
                                </div>

                            <input class="btn btn-default" type="submit" name="submit" value="Create">
                            <input class="btn btn-default" type="reset">
                        </form>
                  </div>
              </div>
            </div>
        </div>
       <script>
           $(document).ready(function () {
               toggleFields();
               $("#schedule_type").change(function () {
                    toggleFields();
               });
           });

           function toggleFields() {
           console.log("in toggle")
               if ($("#schedule_type").val() == "Onetime")
               {
                    $("#div_schedule_date").show();
                    $("#div_schedule_time").show();
                    $("#div_minute").hide()
                    $("#div_hour").hide()
                    $("#div_day").hide()
                    $("#div_date_of_month").hide()
                    $("#div_month_of_year").hide()
               }
               else
               {
                    $("#div_schedule_date").hide();
                    $("#div_schedule_time").hide();
                    $("#div_minute").show()
                    $("#div_hour").show()
                    $("#div_day").show()
                    $("#div_date_of_month").show()
                    $("#div_month_of_year").show()
               }
            }
       </script>
       {% endblock%}

