{% extends "organization/base.html" %}

       {% block nav %}
          <ul class="nav navbar-nav navbar-right">
            <li><a>Welcome,{{user.first_name}}</a></li>
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-l og-out"></span> Sign Out</a></li>
          </ul>
       {% endblock %}

        {% block content%}
        <div class="col-sm-9" style="margin:10px ">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="col-lg-5 " style="margin:0px 650px  ">
                   <a href="{% url 'create_lead' %}">
                       <button class="btn btn-default">Create lead</button>
                   </a>
                   <a href="{% url 'create_campaign' %}">
                       <button class="btn btn-default">Create campaign</button>
                   </a>
                </div>
              </div>
            </div>
        </div>

        {% endblock %}
{% if request.path ==  '/organization/list_lead' %}  class="active" {% endif %}
