{% extends "organization/base.html" %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
<style>
#nav {
    line-height:30px;
    border-right: 2px solid black;
    height:300px;
    width:150px;
    float:left;
}
</style>

</head>
<body>
       {% block nav %}
          <ul class="nav navbar-nav navbar-right">
            <li><a>Welcome,{{user.first_name}}</a></li>
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-l og-out"></span> Sign Out</a></li>
          </ul>
       {% endblock %}

        {% block content%}
        <div class="col-sm-9" style="margin:10px ">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="col-lg-5 " style="margin:0px 650px  ">
                   <a href="{% url 'create_lead' %}">
                       <button class="btn btn-default">Create lead</button>
                   </a>
                   <a href="{% url 'create_campaign' %}">
                       <button class="btn btn-default">Create campaign</button>
                   </a>
                </div>
              </div>
            </div>
        </div>

        {% endblock %}
{% if request.path ==  '/organization/list_lead' %}  class="active" {% endif %}
</body>
</html>
