{% extends "organization/base.html" %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
<style>
#nav {
    line-height:30px;
    border-right: 2px solid black;
    height:300px;
    width:150px;
    float:left;
}
</style>
</head>
<body>
       {% block nav %}
          <ul class="nav navbar-nav navbar-right">
            <li><a>Welcome,{{user.first_name}}</a></li>
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
          </ul>
       {% endblock %}

        {% block content%}
        <!--<div>-->
            <!--<h4 align="right">Welcome,{{user.first_name}}</h4>-->
            <!--<h2>eCampaign</h2>-->
            <!--<div align="right">-->
                <!--<a href="{% url 'logout' %}" >-->
                <!--logout</a>-->
            <!--</div>-->
            <!--<hr >-->
        <!--</div>-->
        <div class="col-md-2" style="margin:10px 20px">
            <ul class="nav nav-pills  nav-stacked">
              <li role="presentation" class="active"><a href="{% url 'list_lead' %}">Leads</a></li>
              <li role="presentation"><a href="{% url 'list_campaign' %}">Campaign</a></li>
              <li role="presentation"><a href="{% url 'send_campaign' %}">Send campaign</a></li>
            </ul>
        </div>

        <div class="col-sm-9" style="margin:10px ">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="col-lg-5 " style="margin:0px 700px  ">
                   <a href="{% url 'create_lead' %}">
                       <button align="right">Create lead</button>
                   </a>
                   <a href="{% url 'create_campaign' %}">
                       <button>Create campaign</button>
                   </a>
                </div>
              </div>
            </div>
        </div>

        {% endblock %}

</body>
</html>
