<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>domain name</title>
</head>
<body>
       <center> Organization domain
       <hr/>
       <br/>
       <br/>
       <br/>
       <br/>
       <form action="" method="post" >
           {%csrf_token%}
           <div>
               {{ form.domain_name.label_tag }}
               {{ form.domain_name }}
               {{ form.domain_name.errors }}
           </div>
           <br>
           <input type="submit">
       </form>
       </center>

</body>
</html>
