{% extends "organization/base.html" %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>domain name</title>
</head>
<body>
        {% block content%}
        <div class="container" style="margin:50px 350px ">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Domain Registration </strong></h3></div>
                        <div class="panel-body">
                            <form  class="form-horizontal" action=" " method="post">
                               {%csrf_token%}
                                <div class="form-group">
                                    <label name={{form.domain_name.name}} class="col-md-4 control-label">Domain Name</label>
                                    <div class="col-md-8">
                                        <input type="text" name={{form.domain_name.name}} class="form-control" placeholder="Domain Name">
                                        {{form.dmain_name.errors}}
                                        </div>
                                </div>
                                <input class="btn btn-default"type="submit" value="Register Domain">
                            </form>
                        </div>
                </div>
            </div>
        </div>
        {%endblock%}
