{% extends "organization/base.html" %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
<style>
#nav {
    line-height:30px;
    border-right: 2px solid black;
    height:300px;
    width:150px;
    float:left;
}
</style>
</head>
<body>
       {% block nav %}
          <ul class="nav navbar-nav navbar-right">
            <li><a>Welcome,{{user.first_name}}</a></li>
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
          </ul>
       {% endblock %}

       {% block content %}
        <div class="col-md-2" style="margin:10px 20px">
            <ul class="nav nav-pills  nav-stacked">
              <li role="presentation" class="active"><a href="{% url 'list_lead' %}">Leads</a></li>
              <li role="presentation"><a href="{% url 'list_campaign' %}">Campaign</a></li>
              <li role="presentation"><a href="{% url 'send_campaign' %}">Send campaign</a></li>
            </ul>
        </div>

        <div class="col-sm-9" style="margin:10px ">
            <div class="panel panel-default">
              <div class="panel-heading">List of Campaign</div>
              <div class="panel-body">
                <div class="col-lg-5 " style="margin:0px 780px">
                   <a href="{% url 'create_campaign' %}">
                       <button>Create campaign</button>
                   </a>
                </div>
             </div>
                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Subject</th>
                        <th>Content</th>
                        <th>Filter</th>
                        <th>Organization</th>
                    </tr>
                    {% for campaign in object_list %}
                        <tr>
                            <td>{{ campaign.campaign_name }}</td>
                            <td>{{ campaign.start_date }}</td>
                            <td>{{ campaign.end_date}}</td>
                            <td>{{ campaign.subject}}</td>
                            <td>{{ campaign.content|safe }}</td>
                            <td>{{ campaign.filter}}</td>
                            <td>{{ campaign.organization.organization_name}}</td>
                        </tr>
                    {%endfor %}
                </table>
            </div>
        </div>

       {% endblock %}

    <div>
        <h4 align="right">Welcome,{{user.first_name}}</h4>
        <h2>eCampaign</h2>
        <div align="right">
            <form action="{% url 'logout' %}" method="post" >
                {% csrf_token %}
                <input type="submit" value="Signout">
            </form>
        </div>
        <hr >
    </div>

    <div id="nav">
           <a href="{% url 'list_lead' %}">Leads</a>
           <br>
           <a href="{% url 'list_campaign' %}">Campaign</a>
           <br>
           <a href="{% url 'send_campaign' %}">Send campaign</a>
    </div>


    <center> <h4>List of Campaign</h4>
    <div align="right" >
        <a href="{% url 'create_campaign' %}">
               <button>Create campaign</button>
        </a>
    </div>
    <br>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Subject</th>
            <th>Content</th>
            <th>Filter</th>
            <th>Organization</th>
        </tr>
        {% for campaign in object_list %}
            <tr>
                <td>{{ campaign.campaign_name }}</td>
                <td>{{ campaign.start_date }}</td>
                <td>{{ campaign.end_date}}</td>
                <td>{{ campaign.subject}}</td>
                <td>{{ campaign.content|safe }}</td>
                <td>{{ campaign.filter}}</td>
                <td>{{ campaign.organization.organization_name}}</td>
            </tr>
        {%endfor %}
    </table>
    </center>
</body>
</html>
