{% extends "organization/base.html" %}

       {% block nav %}
          <ul class="nav navbar-nav navbar-right">
            <li><a>Welcome,{{user.first_name}}</a></li>
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
          </ul>
       {% endblock %}

       {% block content %}

        <div class="col-sm-9" style="margin:10px ">
            <div class="panel panel-default">
              <div class="panel-heading">List of Campaign</div>
              <div class="panel-body">
                <div class="col-lg-5 " style="margin:0px 780px">
                   <a href="{% url 'create_campaign' %}">
                       <button class="btn btn-default">Create campaign</button>
                   </a>
                </div>
             </div>
                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Subject</th>
                        <th>Content</th>
                        <th>Organization</th>
                    </tr>
                    {% for campaign in object_list %}
                        <tr>
                            <td>{{ campaign.name }}</td>
                            <td>{{ campaign.start_date }}</td>
                            <td>{{ campaign.end_date}}</td>
                            <td>{{ campaign.subject}}</td>
                            <td>{{ campaign.content|safe }}</td>
                            <td>{{ campaign.organization.name}}</td>
                        </tr>
                    {%endfor %}
                </table>
            </div>
        </div>

       {% endblock %}

