<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
       <center> List of Leads</center>
       <hr/>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Pin</th>
            <th>Email</th>
            <th>Contry</th>
            <th>Organization</th>
        </tr>
        {% for lead in object_list %}
            <tr>
                <td>{{ lead.lead_name }}</td>
                <td>{{ lead.address  }}</td>
                <td>{{ lead.pin}}</td>
                <td>{{ lead.email}}</td>
                <td>{{ lead.country}}</td>
                <td>{{ lead.organization.organization_name}}</td>
            </tr>
        {%endfor %}


    </table>
</body>
</html>
