<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <center>
        <p>Organization registration form</p>
    </center>
    <hr>
    <form action="" method="post">
        {%csrf_token%}
        {{ form.media }}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        {{ form.non_field_errors }}
        <input type="submit" name="submit" value="submit">
        <input type="reset">
    </form>

</body>
</html>

