{% extends "organization/base.html" %}
       {% block nav %}
          <ul class="nav navbar-nav navbar-right">
            <li><a>Welcome,{{user.first_name}}</a></li>
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
          </ul>
       {% endblock %}


       {% block content %}

        <div class="col-sm-9" style="margin:10px ">
            <div class="panel panel-default">
              <div class="panel-heading">Schedule Log</div>
              <div class="panel-body">
             </div>
              <table class="table table-striped" style="padding:5px">
                    <tr>
                        <th>Campaign</th>
                        <th>Lead</th>
                        <th>Send Date and Time</th>
                    </tr>
                    {% for log in object_list %}
                        <tr>
                            <td>{{ log.campaign.name }}</td>
                            <td>{{ log.lead.name  }}</td>
                            <td>{{ log.send_at  }}</td>
                        </tr>
                    {%endfor %}
              </table>
            <div class="col-sm-5 col-md-offset-3">
                {% if is_paginated %}
                    <ul class="pagination ">
                        {% if page_obj.has_previous %}
                            <li>
                                <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
                            </li>
                        {% endif %}
                            <li >
                                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                            </li>
                        {% if page_obj.has_next %}
                            <li>
                                <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                            </li>
                        {% endif %}
                        </ul>
                    {% else %}
                {% endif %}
            </div>
       </div>
       </div>


       {% endblock%}
