{% extends "organization/base.html" %}
       {% block nav %}
          <ul class="nav navbar-nav navbar-right">
            <li><a>Welcome,{{user.first_name}}</a></li>
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
          </ul>
       {% endblock %}

       {% block content %}
        <div class="col-sm-9" style="margin:10px ">
            <div class="panel panel-default">
              <div class="panel-heading">List of Leads</div>
                  <div class="panel-body">
                    <form action="{% url 'send' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="campaign_id" value="{{campaign_id}}" >
                        <div class="col-sm-3 col-sm-offset-10">
                        <label><input type="checkbox" id="checkAll"/> Check all</label>
                        </div>
                        <table class="table table-striped">
                            <tr>
                                <th>Name</th>
                                <th>Pin</th>
                                <th>Email</th>
                                <th>Status</th>
                            </tr>
                            {% for lead in object_list %}
                                <tr>
                                    <td>{{ lead.name }}</td>
                                    <td>{{ lead.pin}}</td>
                                    <td>{{ lead.email}}</td>
                                    <td>
                                        <input type="checkbox" name="lead" value="{{lead.id}}">{{form.lead.errors}}
                                    </td>
                                </tr>

                            {%endfor %}
                        </table>
                        <div class="col-sm-5 col-sm-offset-10">
                            <input class="btn btn-default" type="submit" value="send">
                        </div>
                    </form>
                 </div>
            </div>
        </div>

        {{ form.non_field_errors }}

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success col-lg-5 fade in " style="margin:0px 400px" role="alert" >
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}</div>
                {% endif %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger col-lg-5 fade in " style="margin:0px 400px" role="alert" >
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}</div>
                {% endif %}

            {% endfor %}
        {% endif %}
       {%endblock%}

