{% extends "organization/base.html" %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
<style>
#nav {
    line-height:30px;
    border-right: 2px solid black;
    height:300px;
    width:150px;
    float:left;
}
</style>
</head>
<body>
       {% block nav %}
          <ul class="nav navbar-nav navbar-right">
            <li><a>Welcome,{{user.first_name}}</a></li>
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
          </ul>
       {% endblock %}

       {% block content %}

        <div class="col-sm-9" style="margin:10px ">
            <div class="panel panel-default">
              <div class="panel-heading">List of Campaign</div>
              <div class="panel-body">
             </div>
             <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Subject</th>
                        <th>Content</th>
                        <th>Filter</th>
                        <th></th>
                    </tr>
                    {% for campaign in object_list %}
                        <tr>
                            <td>{{ campaign.campaign_name }}</td>
                            <td>{{ campaign.start_date }}</td>
                            <td>{{ campaign.end_date}}</td>
                            <td>{{ campaign.subject}}</td>
                            <td>{{ campaign.content|safe }}</td>
                            <td>{{ campaign.filter}}</td>
                            <td>
                                <a href="{% url 'send_list_lead' campaign.id %}">
                                    <button class="btn btn-default">Send</button>
                                </a>
                            </td>
                        </tr>
                    {%endfor %}
             </table>
            </div>
        </div>


       {%endblock%}

</body>
</html>
