{% extends "organization/base.html" %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {%block menu%}
    {%endblock%}
    {% block content%}
        <center>
            <p>
            <h2>Thank you for registering with Us!<br/></h2>
            <h4>Soon you will be able to access the application at this URL:
                    <a href="http://{{domain_name}}.ecampaign.com">http://{{domain_name}}.ecampaign.com</a></h4>
            </p>
        </center>
    {% endblock %}

</body>
</html>
